.navbar {
  @extend %letter-spacing-shift;
  float: left;

  @media (max-width: 950px) {
    width: 100%;
    text-align: center;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }
}

.navbar__menu {
  display: inline-block;
  line-height: $header-bottom-inner-height;
}

.navbar__item {
  @extend %letter-spacing-normal;
  display: inline-block;
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.navbar__item > a {
  display: block;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $orange-dark;
  }
}
