// colors
$black: #181818;
$white: #fff;
$gray: #b9b8bd;
$gray-dark: #666;
$orange-dark: #cb944c;
$orange-light: #d2a66b;
$blue-dark: #252a54;
$blue-light: #747688;
$blue-focus: #4a90fe;

// base
$base-font-family: 'PT Sans', serif;
$base-background-color: $white;
$base-rem-size: 10px;
$base-font-size: 1.4rem;

// lengths
$header-max-width: 1250px;
$header-top-height: 10rem;
$header-top-inner-height: 4rem;
$header-bottom-height: 5.5rem;
$header-bottom-inner-height: 2.5rem;
